@model List<ApplicWEB.Models.Actor>

@{
    ViewBag.Title = "Index";
}


<style>
    table.table td:nth-child(3) {
        width: 100px;
        position: relative;
    }

    table.table td:nth-child(3) div {
            background-color: gold;
            position:  absolute;
            top : 0;
            left: 0;
            height: 18px;
            z-index:100;
    }


        table.table td:nth-child(3) a {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100px;
            z-index: 110;
            padding: 0;
        }
</style>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Rate
            </th>
            <th>
                Films
            </th>
            <th>
                Comments
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ApplicWEB.Models.Actor a in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => a.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => a.Surname)
                </td>
                <td>
                    <div style="width: calc(2% * @a.Rate) "></div>
                    @{float nombre = @a.Rate / 10; }
                    <a><img src="https://i.ibb.co/thCJpfH/Stars.png" alt="Stars" title="@nombre" border="0" width="100"></a>
                </td>
                <td>
                    @Html.ActionLink("Films", "Index", "Films", new { id = a.Id, Numpage = (string)@ViewData["Numpage"] }, new { @class = "button" })
                </td>
                <td>
                    @Html.ActionLink("Comments", "Index", "Comments", new { id = a.Id, Numpage = (string)@ViewData["Numpage"] }, new { @class = "button" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div col-md-4>
    @if (Int32.Parse((string)@ViewData["Numpage"]) != 0)
    {
        @Html.ActionLink("Précédente | ", "Index", "Actors", new { Numpage = (Int32.Parse((string)@ViewData["Numpage"]) - 1).ToString() }, new { @class = "button" })

    }
    @if (Int32.Parse((string)@ViewData["Nombre"]) > 9)
    {
        @Html.ActionLink("Suivante", "Index", "Actors", new { Numpage = (Int32.Parse((string)@ViewData["Numpage"]) + 1).ToString() }, new { @class = "button" })
    }
</div>
