@model List<ApplicWEB.Models.Actor> 

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" runat="server" media="screen" href="~/CSS/RateCss.css" />

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Rate
            </th>
            <th>
                Films
            </th>
            <th>
                Comments
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(ApplicWEB.Models.Actor a in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => a.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => a.Surname)
            </td>
            <td>
                <div style="width:100%%">@Html.DisplayFor(modelItem => a.Rate)</div>
            </td>
            <td>
                @Html.ActionLink("Films","Index","Films",new { id = a.Id, Numpage = (string)@ViewData["Numpage"] }, new { @class = "button"})
            </td>
            <td>
                @Html.ActionLink("Comments", "Index", "Comments", new { id = a.Id }, new { @class = "button" })
            </td>
        </tr>
        }
    </tbody>
</table>

<div col-md-4>
    @if (Int32.Parse((string)@ViewData["Numpage"]) != 0)
    {
        @Html.ActionLink("Précédente | ", "Index", "Actors", new { Numpage = (Int32.Parse((string)@ViewData["Numpage"]) - 1).ToString() }, new { @class = "button" })

    }
    @if (Int32.Parse((string)@ViewData["Nombre"]) > 9)
    {
        @Html.ActionLink("Suivante", "Index", "Actors", new { Numpage = (Int32.Parse((string)@ViewData["Numpage"]) + 1).ToString() }, new { @class = "button" })
    }
    </div>
